:root {
  --theme-primary-color: black;
}

body{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.app-container{
  display: flex;
}

.sidebar{
  width: 250px;
  border-right: 2px solid black;
  height: 50vh;
}

.main-content{
  flex: 1;
}

.primary-app-button {
  background: var(--theme-primary-color);
  color: white;
  border: none ;
  border-radius: 0.1rem;
  padding: 0.5rem;
}